<section class="container-fluid">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h2 class="title">Item à partager</h2>
				<hr />
			</div>
		</div>
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" (ngSubmit)="createArticle()" [formGroup]="articleForm">

				<div class="form-group">
					<label for="item" class="cols-sm-2 control-label">Item</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="title" id="title" placeholder="Entrez le nom de l'item" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="cols-sm-2 control-label">Description</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<textarea class="form-control" formControlName="description" rows="10" cols="30">Description</textarea>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="cols-sm-2 control-label">Adresse url de l'image</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="url" rows="10" cols="30" placeholder="adresse url de l'image" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="categorie" class="cols-sm-2 control-label">Categorie</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<select formControlName="category_id" class="form-control" >
								<option value="3">Objets</option>
								<option value="1">Services</option>
								<option value="2">Evenements</option>
							</select>
						</div>
					</div>
				</div>



				<div class="form-group ">
					<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Reférencer">
				</div>
			</form>
			
		</div>
	</div>
</section>