<section class="container-fluid">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h2 class="title">Item à partager</h2>
				<hr />
			</div>
		</div>
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" (ngSubmit)="createArticle()" [formGroup]="articleForm">

				<div class="form-group">
					<label for="item" class="cols-sm-2 control-label">Item</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="title" id="title" placeholder="Entrez le nom de l'item" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="cols-sm-2 control-label">Description</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<textarea placeholder="détaillez ce que vous partagez" class="form-control" formControlName="description" rows="10" cols="30">Description</textarea>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="cols-sm-2 control-label">Adresse url de l'image</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="url" rows="10" cols="30" placeholder="copier l'adresse source d'une image" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="categorie" class="cols-sm-2 control-label">Categorie</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<select formControlName="category_id" class="form-control">
								<option value="3">Objets</option>
								<option value="1">Services</option>
								<option value="2">Evenements</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Reférencer">
				</div>
			</form>
			<div *ngIf="errors" class="form-group alert alert-danger">
				<div class="errors">{{errors}}</div>
		   </div>

		</div>
	</div>

</section>
<div class="container">
	<div class="panel-title text-center">
		<h2 class="title">Vos articles</h2>
		<input type="button" (click)="articleDisplay();" class="btn btn-primary bouton-large  login-button" value="Afficher vos articles">
		<hr />

	</div>
	
	<div *ngFor="let result of results" class="col-xs-12 col-sm-6 col-md-12">
			<form #deleteForm="ngForm" class="form-horizontal" method="post" (ngSubmit)="deleteArticle(deleteForm)">
		<!--on crée un affichage conditionnelle en fonction de la catégorie-->
		<!--le ngIf a deux conditions, l'affichage n'est possible que si la catégorie correspond 
	   à la chaine de caractère passé en paramètre ou si le bouton toutes est cliqué-->
		<article class="search-result row">
			<div *ngIf="result.url!==''" class="col-xs-12 col-sm-12 col-md-3">
				<a href="#" title="Lorem ipsum" class="thumbnail"><img src= {{result.url}} alt="Lorem ipsum" /></a>
			</div>
			<div *ngIf="result.url==''" class="col-xs-12 col-sm-12 col-md-3">
				<a href="#" title="Lorem ipsum" class="thumbnail"><img src= "http://localhost:4200/assets/images/logo.png" alt="Lorem ipsum" /></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<!--chaque item est appelé à un endroit précis dans la div-->
					<li hidden="true"><i class="glyphicon glyphicon-user"></i> <input type="text" name="id"  [(ngModel)]="result.id" id="{{result.id}}" /></li>
					<li><i class="glyphicon glyphicon-user"></i> <span>{{result.user.firstname}}</span></li>
					<li><i class="glyphicon glyphicon-time"></i> <span>{{result.date | date:'dd/MM/yyyy'}}</span></li>
					<li><i class="glyphicon glyphicon-tags"></i> <span>{{result.category.categoryLib}}</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="#" title="">{{result.title}}</a></h3>
				<p>{{result.description}}</p>
				<span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
				
				<div class="form-group ">
					<input type="submit" class="btn btn-primary btn-lg btn-lg login-button" value="Supprimer cet article">
				</div>
			</div>
			<span class="clearfix borda"></span>
		</article>
	</form>
	</div>
</div>