/* You can add global styles to this file, and also import other style files */
section{background-image: url("/assets/images/section-cover.png");
background-size: cover;
background-repeat:repeat-y;
min-height:800px;
}
