.Logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto;
}

#login {
    padding-top: 10px;
}

#login input {
    display: inline;
}

input {
    max-width: 100px;
}

.coucou {
    position: fixed;
    top: 40px;
    width:100%;
    z-index: 1000;
}

@media screen and (min-width: 1000px) {
    .cache {
        display: none
    }
}

@media screen and (max-width: 1000px) {
    .visible {
        display: none
    }
}

.cache button {
    position: relative;
    left: 50%;
}

.fa.fa-bars {
    background-color: black;
    color: #D9D9D9;
}

.welcome {
    color:#F68B12;
    font-weight: bold;
    font-size:18px;
}
