<nav class=" visible navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#"><img alt="logo" src="../assets/images/logo.png" class="Logo"></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-toggleable-sm">
                <li><a routerLink='/'>Accueil</a></li>
                <li><a routerLink='/results'>Consulter les annonces</a></li>
                <!-- ici on a des liens cachés si le boolean renvoyé par la fonction loginService.checklogin() est faux-->
                <li [hidden]="!loginService.checkLogin()"><a routerLink='/creation-annonce'>Gérer ses annonces</a></li>
                <li class="disabled" [hidden]="!loginService.checkLogin()"><a routerLink='/'>Calendrier de votre quartier</a></li>
            </ul>
            <!-- ici on a une div cachée si le boolean renvoyé par la fonction loginService.checklogin() est vraie-->
            <div [hidden]="loginService.checkLogin()">
                <!-- formulaire traditionnel angular , cf register -->
                <form method="POST" (ngSubmit)="auth()" [formGroup]="loginForm" class="nav navbar-nav navbar-right navbar-toggleable-sm"
                    role="search">
                    <div id="login" class="form-group">

                        <input type="text" class="form-control" formControlName="email" id="email" placeholder="email" />


                        <input class="form-control" type="password" formControlName="password" placeholder="mot de passe" />
                        <input type="submit" class="btn btn-primary btn-lg" name="Login" value="Connection" />

                        <a class="btn btn-primary btn-lg" routerLink='/register' name="register">Creer un compte</a>
                    </div>
                </form>
            </div>
            <div  class="nav navbar-nav navbar-right navbar-toggleable-sm" [hidden]="!loginService.checkLogin()">
                <span class="welcome">Bonjour {{firstname}} </span>
                <input (click)="loginService.logout()" type="button" class="btn btn-primary btn-lg" name="deconnection" value="Deconnection"
                />
            </div>
        </div>
    </div>
</nav>

<!--s'affiche à partir d'une certaine taille-->
<nav class=" navbar-fixed-top navbar-inverse cache"> <button type="button" class="fa fa-bars fa-3x" id="bouton nav" (click)="isCollapsed = !isCollapsed"> 
    </button></nav>
<hr>
<div [collapse]="!isCollapsed" class="card card-block card-header">
    <div class="well well-lg coucou">

        <div class="navbar-header">
            <a href="#"><img alt="logo" src="../assets/images/logo.png" class="Logo"></a>
        </div>



        <ul class="nav navbar-nav navbar-toggleable-sm">
            <li><a routerLink='/'>Accueil</a></li>
            <li><a routerLink='/results'>Consulter les Annonces</a></li>
            <li [hidden]="!loginService.checkLogin()"><a routerLink='/creation-annonce'>Gérer ses annonces</a></li>
            <li [hidden]="!loginService.checkLogin()"><a routerLink='/'>Calendrier de votre quartier</a></li>
        </ul>

            <div [hidden]="loginService.checkLogin()">
                <form method="POST" (ngSubmit)="auth()" [formGroup]="loginForm" class="nav navbar-nav navbar-right navbar-toggleable-sm"
                    role="search">
                    <div id="login" class="form-group">

                        <input type="text" class="form-control" formControlName="email" id="email" placeholder="email" />


                        <input class="form-control" type="password" formControlName="password" placeholder="mot de passe" />
                        <input type="submit" class="btn btn-primary btn-lg" name="Login" value="Connection" />

                        <a class="btn btn-primary btn-lg" routerLink='/register' name="register">Creer un compte</a>
                    </div>
                </form>
            </div>
            <div class="nav navbar-nav navbar-right navbar-toggleable-sm" [hidden]="!loginService.checkLogin()">
                <p class="welcome" >Bonjour {{firstname}}  </p>
                <input (click)="loginService.logout()" type="button" class="btn btn-primary btn-lg" name="deconnection" value="Deconnection"
                />
            </div>
    </div>
</div>