<section class="container-fluid">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h2 class="title">Faites partie de notre communauté!</h2>
			</div>
		</div>
		<div class="main-login main-center">

			<!-- ici on va créer un formulaire qui renvoie vers la fonction createUser et qui sera 
				constitué par les différents champs-->
			<form (ngSubmit)="createUser()" [formGroup]="registerForm" class="form-horizontal" method="post" >

				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Nom</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="name" id="name" placeholder="Entrez votre nom" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Prenom</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="firstname" id="first-name" placeholder="Entrez votre prenom" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Adresse E mail</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="email" id="email" placeholder="Entrez votre e-mail" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Adresse Postal</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" formControlName="address" id="address" placeholder="Entrez votre adresse" />
						</div>
					</div>
				</div>



				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Mot de passe</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" formControlName="password" id="password" placeholder="Entrez votre mot de passe"
							/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirmation du mot de passe</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" formControlName="confirm" id="confirm" placeholder="Confirmez votre mot de passe"
							/>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Register">
				</div>
			</form>
			<div *ngIf="errors" class="form-group alert alert-danger">
				<div class="errors">{{errors}}</div>
		   </div>
		</div>
	</div>
</section>